.vtm20.sheet.item {
    min-width : 460px;
    min-height: 400px;
}

.vtm20.sheet.item h1 input {
    text-align : right;
    font-family: "Denver Serial Black";
}

.vtm20.sheet.item h2 {
    font-family  : "Denver Serial Black";
    border-bottom: 0;
}

.vtm20.sheet.item table input {
    text-align: center;
}