.vtm20.sheet.item {
    min-width : 460px;
    min-height: 400px;
}

.vtm20.sheet.item .sheet-header {
    flex: 0 0 65px;
}

.vtm20.sheet.item .itemTitle {
    text-align: right;
}

.vtm20.sheet.item table input {
    text-align: center;
}