<form class="{{cssClass}} primary flexrow" autocomplete="off">
    <section class="sheet-body">

        {{!-- General Tab --}}
        <div class="tab general flexcol" data-group="primary" data-tab="general">
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.GENERAL"}}</h2>
            </div>
            <div class="flexrow">
                <div class="flexcol">
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.NAME"}}:</h4>
                        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'CHAR.NAME'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.PLAYER"}}:</h4>
                        <input name="data.player" type="text" value="{{data.player}}" placeholder="{{localize 'CHAR.PLAYER'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.CHRONICLE"}}:</h4>
                        <input name="data.chronicle" type="text" value="{{data.chronicle}}" placeholder="{{localize 'CHAR.CHRONICLE'}}" />
                    </div>
                </div>
                <div class="flexcol">
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.NATURE"}}:</h4>
                        <input name="data.nature" type="text" value="{{data.nature}}" placeholder="{{localize 'CHAR.NATURE'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.DEMEANOR"}}:</h4>
                        <input name="data.demeanor" type="text" value="{{data.demeanor}}" placeholder="{{localize 'CHAR.DEMEANOR'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.CONCEPT"}}:</h4>
                        <input name="data.concept" type="text" value="{{data.concept}}" placeholder="{{localize 'CHAR.CONCEPT'}}" />
                    </div>
                </div>
                <div class="flexcol">
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.CLAN"}}:</h4>
                        <input name="data.clan" type="text" value="{{data.clan}}" placeholder="{{localize 'CHAR.CLAN'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.GENERATION"}}:</h4>
                        <input name="data.generation" type="text" value="{{data.generation}}" placeholder="{{localize 'CHAR.GENERATION'}}" />
                    </div>
                    <div class="flexrow baseline">
                        <h4>{{localize "CHAR.SIRE"}}:</h4>
                        <input name="data.sire" type="text" value="{{data.sire}}" placeholder="{{localize 'CHAR.SIRE'}}" />
                    </div>
                </div>
            </div>
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.BIOGRAPHY"}}</h2>
            </div>
            <div class="flexcol editorContainer">
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes roll-status active" data-group="primary" data-tab="attributes">
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.ATTRIBUTES"}}</h2>
            </div>
            <div class="flexrow">
                <div class="column">
                    <h4>{{localize "SHEET.PHYSICAL"}}</h4>
                    <ul>
                        {{#each data.attributes.physical as |attribute key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=attribute.value
                            key=key label=attribute.label id=../actor._id key=key
                            prefix="data.attributes.physical" min=0 max=5 selected=../options.selectedAttribute
                            type="attribute"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column">
                    <h4>{{localize "SHEET.SOCIAL"}}</h4>
                    <ul>
                        {{#each data.attributes.social as |attribute key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=attribute.value
                            key=key label=attribute.label id=../actor._id key=key
                            prefix="data.attributes.social" min=0 max=5 selected=../options.selectedAttribute
                            type="attribute"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column">
                    <h4>{{localize "SHEET.MENTAL"}}</h4>
                    <ul>
                        {{#each data.attributes.mental as |attribute key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=attribute.value
                            key=key label=attribute.label id=../actor._id key=key
                            prefix="data.attributes.mental" min=0 max=5 selected=../options.selectedAttribute
                            type="attribute"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.ABILITIES"}}</h2>
            </div>
            <div class="flexrow">
                <div class="column">
                    <h4>{{localize "SHEET.TALENTS"}}</h4>
                    <ul>
                        {{#each data.abilities.talents as |ability key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=ability.value
                            key=key label=ability.label id=../actor._id key=key prefix="data.abilities.talents"
                            min=0 max=5 selected=../options.selectedAbility type="ability"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column">

                    <h4>{{localize "SHEET.SKILLS"}}</h4>
                    <ul>
                        {{#each data.abilities.skills as |ability key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=ability.value
                            key=key label=ability.label id=../actor._id key=key prefix="data.abilities.skills"
                            min=0 max=5 selected=../options.selectedAbility type="ability"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column">
                    <h4>{{localize "SHEET.KNOWLEDGES"}}</h4>
                    <ul>
                        {{#each data.abilities.knowledges as |ability key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html value=ability.value
                            key=key label=ability.label id=../actor._id key=key
                            prefix="data.abilities.knowledges" min=0 max=5 selected=../options.selectedAbility
                            type="ability"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="flexrow">
                <div class="column">
                    <div class="difficulty-dialog">
                        <div>
                            <h2>
                                {{selectedRoll}}
                            </h2>
                            <div id="input-roll-difficulty">
                                <input type="range" step="1" min="2" max="10" value="{{options.rollDifficulty}}">
                                <h2>{{options.rollDifficulty}}</h2>
                            </div>
                            <p class="flexrow">
                                <button id="btn-roll-submit">
                                    <i class="fa fa-dice-d20"></i> {{localize "DIFFICULTY.ROLL"}}</button>
                                <button id="btn-roll-save">
                                    <i class="fa fa-save"></i> {{localize "DIFFICULTY.SAVE"}}</button>
                                <button id="btn-roll-cancel">
                                    <i class="fa fa-times"></i> {{localize "DIFFICULTY.CANCEL"}}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Advantages Tab --}}
        <div class="tab advantages roll-status" data-group="primary" data-tab="advantages">
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.ADVANTAGES"}}</h2>
            </div>
            <div class="flexrow">
                <div class="column overflow-y">
                    <h4>{{localize "SHEET.DISCIPLINES"}}</h4>
                    <ul>
                        {{#each data.advantages.disciplines as |discipline key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html
                            value=discipline.value label=discipline.label id=../actor._id key=key
                            prefix="data.advantages.disciplines" min=0 max=5 type="discipline"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column overflow-y">
                    <h4>{{localize "SHEET.BACKGROUNDS"}}</h4>
                    <ul>
                        {{#each data.advantages.backgrounds as |background key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html
                            value=background.value label=background.label id=../actor._id key=key
                            prefix="data.advantages.backgrounds" min=0 max=5 type="background"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="column overflow-y">
                    <h4>{{localize "SHEET.VIRTUES"}}</h4>
                    <ul>
                        {{#each data.advantages.virtues as |virtue key|}}
                        <li class="radio-input">
                            {{> systems/foundryvtt-v20/templates/attribute-input.html
                            value=virtue.value label=virtue.label id=../actor._id key=key
                            prefix="data.advantages.virtues" min=0 max=5 type="virtue"}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="sheet-header-big">
                <h2>{{localize "SHEET.ITEMS"}}</h2>
            </div>
            <div class="flexcol">
                <div class="flexrow">
                    <ul>
                        {{#each items as |item iid|}}
                        <li class="radio-input">
                            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
                            <h4>{{item.name}}</h4>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="sheet-sidebar">
        <div class="flexcol">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <h1>{{actor.name}}</h1>
            <nav class="sheet-navigation tabs" data-group="primary">
                <h3><a class="item" data-tab="general">{{localize "SHEET.TAB_GENERAL"}}</a></h3>
                <h3><a class="item active" data-tab="attributes">{{localize "SHEET.TAB_ATTRIBUTES"}}</a></h3>
                <h3><a class="item" data-tab="advantages">{{localize "SHEET.TAB_ADVANTAGES"}}</a></h3>
                <h3><a class="item" data-tab="items">{{localize "SHEET.TAB_ITEMS"}}</a></h3>
            </nav>
        </div>
    </div>
</form>